__pycache__/
*.py[co]
/build
/dist
/wagtail_{{ cookiecutter.project_name_snake }}.egg-info
/.coverage
/htmlcov
/.tox
/venv
/.vscode
/site
/test_wagtail_{{ cookiecutter.project_name_snake }}.db
/node_modules
/test-static
/test-media
